<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0" translate="X.PROFILE_DETAILS"></h3>
    </div>

    <a
      routerLink="/crafted/account/settings"
      class="btn btn-primary align-self-center"
    >
      Edit Profile
    </a>
  </div>

  <div class="card-body p-9">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted" translate="X.FULL_NAME"></label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark" translate="X.MAX_SMITH"></span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted" translate="X.COMPANY"></label>

      <div class="col-lg-8 fv-row">
        <span class="fw-bold fs-6" translate="X.KEENTHEMES"></span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">
        Contact Phone
        <i
          class="fas fa-exclamation-circle ms-1 fs-7"
          data-bs-toggle="tooltip"
          title="Phone number must be active"
        ></i>
      </label>

      <div class="col-lg-8 d-flex align-items-center">
        <span class="fw-bolder fs-6 me-2">044 3276 454 935</span>

        <span class="badge badge-success" translate="X.VERIFIED"></span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted" translate="X.COMPANY_SITE"></label>

      <div class="col-lg-8">
        <a href="#" class="fw-bold fs-6 text-dark text-hover-primary" translate="X.KEENTHEMESCOM"></a>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">
        Country
        <i
          class="fas fa-exclamation-circle ms-1 fs-7"
          data-bs-toggle="tooltip"
          title="Country of origination"
        ></i>
      </label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark" translate="X.GERMANY"></span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted" translate="X.COMMUNICATION"></label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark" translate="X.EMAIL_PHONE"></span>
      </div>
    </div>

    <div class="row mb-10">
      <label class="col-lg-4 fw-bold text-muted" translate="X.ALLOW_CHANGES"></label>

      <div class="col-lg-8">
        <span class="fw-bold fs-6" translate="X.YES"></span>
      </div>
    </div>

    <div
      class="
        notice
        d-flex
        bg-light-warning
        rounded
        border-warning border border-dashed
        p-6
      "
    >
      <app-keenicon name="information-5" class="fs-2 text-warning me-4"></app-keenicon>
      <div class="d-flex flex-stack flex-grow-1">
        <div class="fw-bold">
          <h4 class="text-gray-800 fw-bolder" translate="X.WE_NEED_YOUR_ATTENTION"></h4>
          <div class="fs-6 text-gray-600">
            Your payment was declined. To start using tools, please
            <a class="fw-bolder" routerLink="/crafted/account/settings">
              {{ " " }}
              Add Payment Method
            </a>
            .
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row gy-10 gx-xl-10">
  <div class="col-xl-6">
    <app-charts-widget1
      class="card card-xxl-stretch mb-5 mb-xl-10"
    ></app-charts-widget1>
  </div>

  <div class="col-xl-6">
    <app-tables-widget1
      class="card card-xxl-stretch mb-5 mb-xl-10"
    ></app-tables-widget1>
  </div>
</div>

<div class="row gy-10 gx-xl-10">
  <div class="col-xl-6">
    <app-lists-widget5
      class="card card-xxl-stretch mb-5 mb-xl-10"
    ></app-lists-widget5>
  </div>

  <div class="col-xl-6">
    <app-tables-widget5
      class="card card-xxl-stretch mb-5 mb-xl-10"
    ></app-tables-widget5>
  </div>
</div>
