<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1" translate="X.FILES"></span>
    <span class="text-muted mt-1 fw-bold fs-7" translate="X.OVER_100_PENDING_FILES"></span>
  </h3>

  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <app-keenicon name="category" class="fs-2"></app-keenicon>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-3">
      <!-- begin::Table head -->
      <thead>
        <tr>
          <th class="p-0 w-50px"></th>
          <th class="p-0 min-w-150px"></th>
          <th class="p-0 min-w-140px"></th>
          <th class="p-0 min-w-120px"></th>
          <th class="p-0 min-w-40px"></th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label bg-light-success">
                <app-keenicon name="basket" class="fs-2x text-success"></app-keenicon>
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.TOP_AUTHORS"></a>
          </td>
          <td class="text-end text-muted fw-bold" translate="X.REACTJS_HTML"></td>
          <td class="text-end text-muted fw-bold" translate="X._4600_USERS"></td>
          <td class="text-end text-dark fw-bolder fs-6 pe-0" translate="X._54MB"></td>
        </tr>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label bg-light-danger">
                <app-keenicon name="category" class="fs-2x text-danger"></app-keenicon>
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.POPULAR_AUTHORS"></a>
          </td>
          <td class="text-end text-muted fw-bold" translate="X.PYTHON_MYSQL"></td>
          <td class="text-end text-muted fw-bold" translate="X._7200_USERS"></td>
          <td class="text-end text-dark fw-bolder fs-6 pe-0" translate="X._28MB"></td>
        </tr>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label bg-light-info">
                <app-keenicon name="briefcase" class="fs-2x text-info"></app-keenicon>
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.NEW_USERS"></a>
          </td>
          <td class="text-end text-muted fw-bold" translate="X.LARAVEL_METRONIC"></td>
          <td class="text-end text-muted fw-bold" translate="X._890_USERS"></td>
          <td class="text-end text-dark fw-bolder fs-6 pe-0" translate="X._15MB"></td>
        </tr>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label bg-light-warning"
                ><app-keenicon name="abstract-26" class="fs-2x text-warning"></app-keenicon>
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.ACTIVE_CUSTOMERS"></a>
          </td>
          <td class="text-end text-muted fw-bold">AngularJS, C#</td>
          <td class="text-end text-muted fw-bold" translate="X._4600_USERS"></td>
          <td class="text-end text-dark fw-bolder fs-6 pe-0" translate="X._54MB"></td>
        </tr>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label bg-light-primary">
                <app-keenicon name="abstract-41" class="fs-2x text-primary"></app-keenicon>
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.ACTIVE_CUSTOMERS"></a>
          </td>
          <td class="text-end text-muted fw-bold" translate="X.REACTJS_RUBY"></td>
          <td class="text-end text-muted fw-bold" translate="X._354_USERS"></td>
          <td class="text-end text-dark fw-bolder fs-6 pe-0" translate="X._500KB"></td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->
