<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0" translate="X.PROFILE_DETAILS"></h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" class="form">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6" translate="X.AVATAR"></label>
          <div class="col-lg-8">
            <div
              class="image-input image-input-outline"
              data-kt-image-input="true"
              [style.background-image]="'url(./assets/media/avatars/blank.png'"
            >
              <div
                class="image-input-wrapper w-125px h-125px"
                [style.background-image]="
                  'url(./assets/media/avatars/300-1.jpg'
                "
              ></div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
             translate="X.FULL_NAME"></label
          >
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="
                    form-control form-control-lg form-control-solid
                    mb-3 mb-lg-0
                  "
                  placeholder="First name"
                  name="fName"
                  value="Max"
                />
              </div>
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Last name"
                  name="lName"
                  value="Smith"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
             translate="X.COMPANY"></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Company name"
              name="company"
              value="Keenthemes"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required" translate="X.CONTACT_PHONE"></span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="tel"
              class="form-control form-control-lg form-control-solid"
              placeholder="Phone number"
              name="contactPhone"
              value="044 3276 454 935"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required" translate="X.COMPANY_SITE"></span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Company website"
              name="companySite"
              value="keenthemes.com"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required" translate="X.COUNTRY"></span></label
          >
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg fw-bold"
              name="country"
            >
              <option value="" translate="X.SELECT_A_COUNTRY"></option>
              <option value="AF" translate="X.AFGHANISTAN"></option>
              <option value="AX" translate="X.ALAND_ISLANDS"></option>
              <option value="AL" translate="X.ALBANIA"></option>
              <option value="DZ" translate="X.ALGERIA"></option>
              <option value="AS" translate="X.AMERICAN_SAMOA"></option>
              <option value="AD" translate="X.ANDORRA"></option>
              <option value="AO" translate="X.ANGOLA"></option>
              <option value="AI" translate="X.ANGUILLA"></option>
              <option value="AQ" translate="X.ANTARCTICA"></option>
              <option value="AG" translate="X.ANTIGUA_AND_BARBUDA"></option>
              <option value="AR" translate="X.ARGENTINA"></option>
              <option value="AM" translate="X.ARMENIA"></option>
              <option value="AW" translate="X.ARUBA"></option>
              <option value="AU" translate="X.AUSTRALIA"></option>
              <option value="AT" translate="X.AUSTRIA"></option>
              <option value="AZ" translate="X.AZERBAIJAN"></option>
              <option value="BS" translate="X.BAHAMAS"></option>
              <option value="BH" translate="X.BAHRAIN"></option>
              <option value="BD" translate="X.BANGLADESH"></option>
              <option value="BB" translate="X.BARBADOS"></option>
              <option value="BY" translate="X.BELARUS"></option>
              <option value="BE" translate="X.BELGIUM"></option>
              <option value="BZ" translate="X.BELIZE"></option>
              <option value="BJ" translate="X.BENIN"></option>
              <option value="BM" translate="X.BERMUDA"></option>
              <option value="BT" translate="X.BHUTAN"></option>
              <option value="BO" translate="X.BOLIVIA_PLURINATIONAL_STA"></option>
              <option value="BQ" translate="X.BONAIRE_SINT_EUSTATIUS_AN"></option>
              <option value="BA" translate="X.BOSNIA_AND_HERZEGOVINA"></option>
              <option value="BW" translate="X.BOTSWANA"></option>
              <option value="BV" translate="X.BOUVET_ISLAND"></option>
              <option value="BR" translate="X.BRAZIL"></option>
              <option value="IO" translate="X.BRITISH_INDIAN_OCEAN_TERR"></option>
              <option value="BN" translate="X.BRUNEI_DARUSSALAM"></option>
              <option value="BG" translate="X.BULGARIA"></option>
              <option value="BF" translate="X.BURKINA_FASO"></option>
              <option value="BI" translate="X.BURUNDI"></option>
              <option value="KH" translate="X.CAMBODIA"></option>
              <option value="CM" translate="X.CAMEROON"></option>
              <option value="CA" translate="X.CANADA"></option>
              <option value="CV" translate="X.CAPE_VERDE"></option>
              <option value="KY" translate="X.CAYMAN_ISLANDS"></option>
              <option value="CF" translate="X.CENTRAL_AFRICAN_REPUBLIC"></option>
              <option value="TD" translate="X.CHAD"></option>
              <option value="CL" translate="X.CHILE"></option>
              <option value="CN" translate="X.CHINA"></option>
              <option value="CX" translate="X.CHRISTMAS_ISLAND"></option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CO" translate="X.COLOMBIA"></option>
              <option value="KM" translate="X.COMOROS"></option>
              <option value="CG" translate="X.CONGO"></option>
              <option value="CD" translate="X.CONGO_THE_DEMOCRATIC_REPU"></option>
              <option value="CK" translate="X.COOK_ISLANDS"></option>
              <option value="CR" translate="X.COSTA_RICA"></option>
              <option value="CI" translate="X.CTE_DIVOIRE"></option>
              <option value="HR" translate="X.CROATIA"></option>
              <option value="CU" translate="X.CUBA"></option>
              <option value="CW" translate="X.CURAAO"></option>
              <option value="CY" translate="X.CYPRUS"></option>
              <option value="CZ" translate="X.CZECH_REPUBLIC"></option>
              <option value="DK" translate="X.DENMARK"></option>
              <option value="DJ" translate="X.DJIBOUTI"></option>
              <option value="DM" translate="X.DOMINICA"></option>
              <option value="DO" translate="X.DOMINICAN_REPUBLIC"></option>
              <option value="EC" translate="X.ECUADOR"></option>
              <option value="EG" translate="X.EGYPT"></option>
              <option value="SV" translate="X.EL_SALVADOR"></option>
              <option value="GQ" translate="X.EQUATORIAL_GUINEA"></option>
              <option value="ER" translate="X.ERITREA"></option>
              <option value="EE" translate="X.ESTONIA"></option>
              <option value="ET" translate="X.ETHIOPIA"></option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FO" translate="X.FAROE_ISLANDS"></option>
              <option value="FJ" translate="X.FIJI"></option>
              <option value="FI" translate="X.FINLAND"></option>
              <option value="FR" translate="X.FRANCE"></option>
              <option value="GF" translate="X.FRENCH_GUIANA"></option>
              <option value="PF" translate="X.FRENCH_POLYNESIA"></option>
              <option value="TF" translate="X.FRENCH_SOUTHERN_TERRITORI"></option>
              <option value="GA" translate="X.GABON"></option>
              <option value="GM" translate="X.GAMBIA"></option>
              <option value="GE" translate="X.GEORGIA"></option>
              <option value="DE" translate="X.GERMANY"></option>
              <option value="GH" translate="X.GHANA"></option>
              <option value="GI" translate="X.GIBRALTAR"></option>
              <option value="GR" translate="X.GREECE"></option>
              <option value="GL" translate="X.GREENLAND"></option>
              <option value="GD" translate="X.GRENADA"></option>
              <option value="GP" translate="X.GUADELOUPE"></option>
              <option value="GU" translate="X.GUAM"></option>
              <option value="GT" translate="X.GUATEMALA"></option>
              <option value="GG" translate="X.GUERNSEY"></option>
              <option value="GN" translate="X.GUINEA"></option>
              <option value="GW" translate="X.GUINEABISSAU"></option>
              <option value="GY" translate="X.GUYANA"></option>
              <option value="HT" translate="X.HAITI"></option>
              <option value="HM" translate="X.HEARD_ISLAND_AND_MCDONALD"></option>
              <option value="VA">Holy See (Vatican City State)</option>
              <option value="HN" translate="X.HONDURAS"></option>
              <option value="HK" translate="X.HONG_KONG"></option>
              <option value="HU" translate="X.HUNGARY"></option>
              <option value="IS" translate="X.ICELAND"></option>
              <option value="IN" translate="X.INDIA"></option>
              <option value="ID" translate="X.INDONESIA"></option>
              <option value="IR" translate="X.IRAN_ISLAMIC_REPUBLIC_OF"></option>
              <option value="IQ" translate="X.IRAQ"></option>
              <option value="IE" translate="X.IRELAND"></option>
              <option value="IM" translate="X.ISLE_OF_MAN"></option>
              <option value="IL" translate="X.ISRAEL"></option>
              <option value="IT" translate="X.ITALY"></option>
              <option value="JM" translate="X.JAMAICA"></option>
              <option value="JP" translate="X.JAPAN"></option>
              <option value="JE" translate="X.JERSEY"></option>
              <option value="JO" translate="X.JORDAN"></option>
              <option value="KZ" translate="X.KAZAKHSTAN"></option>
              <option value="KE" translate="X.KENYA"></option>
              <option value="KI" translate="X.KIRIBATI"></option>
              <option value="KP" translate="X.KOREA_DEMOCRATIC_PEOPLES_"></option>
              <option value="KW" translate="X.KUWAIT"></option>
              <option value="KG" translate="X.KYRGYZSTAN"></option>
              <option value="LA" translate="X.LAO_PEOPLES_DEMOCRATIC_RE"></option>
              <option value="LV" translate="X.LATVIA"></option>
              <option value="LB" translate="X.LEBANON"></option>
              <option value="LS" translate="X.LESOTHO"></option>
              <option value="LR" translate="X.LIBERIA"></option>
              <option value="LY" translate="X.LIBYA"></option>
              <option value="LI" translate="X.LIECHTENSTEIN"></option>
              <option value="LT" translate="X.LITHUANIA"></option>
              <option value="LU" translate="X.LUXEMBOURG"></option>
              <option value="MO" translate="X.MACAO"></option>
              <option value="MK" translate="X.MACEDONIA_THE_FORMER_YUGO"></option>
              <option value="MG" translate="X.MADAGASCAR"></option>
              <option value="MW" translate="X.MALAWI"></option>
              <option value="MY" translate="X.MALAYSIA"></option>
              <option value="MV" translate="X.MALDIVES"></option>
              <option value="ML" translate="X.MALI"></option>
              <option value="MT" translate="X.MALTA"></option>
              <option value="MH" translate="X.MARSHALL_ISLANDS"></option>
              <option value="MQ" translate="X.MARTINIQUE"></option>
              <option value="MR" translate="X.MAURITANIA"></option>
              <option value="MU" translate="X.MAURITIUS"></option>
              <option value="YT" translate="X.MAYOTTE"></option>
              <option value="MX" translate="X.MEXICO"></option>
              <option value="FM" translate="X.MICRONESIA_FEDERATED_STAT"></option>
              <option value="MD" translate="X.MOLDOVA_REPUBLIC_OF"></option>
              <option value="MC" translate="X.MONACO"></option>
              <option value="MN" translate="X.MONGOLIA"></option>
              <option value="ME" translate="X.MONTENEGRO"></option>
              <option value="MS" translate="X.MONTSERRAT"></option>
              <option value="MA" translate="X.MOROCCO"></option>
              <option value="MZ" translate="X.MOZAMBIQUE"></option>
              <option value="MM" translate="X.MYANMAR"></option>
              <option value="NA" translate="X.NAMIBIA"></option>
              <option value="NR" translate="X.NAURU"></option>
              <option value="NP" translate="X.NEPAL"></option>
              <option value="NL" translate="X.NETHERLANDS"></option>
              <option value="NC" translate="X.NEW_CALEDONIA"></option>
              <option value="NZ" translate="X.NEW_ZEALAND"></option>
              <option value="NI" translate="X.NICARAGUA"></option>
              <option value="NE" translate="X.NIGER"></option>
              <option value="NG" translate="X.NIGERIA"></option>
              <option value="NU" translate="X.NIUE"></option>
              <option value="NF" translate="X.NORFOLK_ISLAND"></option>
              <option value="MP" translate="X.NORTHERN_MARIANA_ISLANDS"></option>
              <option value="NO" translate="X.NORWAY"></option>
              <option value="OM" translate="X.OMAN"></option>
              <option value="PK" translate="X.PAKISTAN"></option>
              <option value="PW" translate="X.PALAU"></option>
              <option value="PS" translate="X.PALESTINIAN_TERRITORY_OCC"></option>
              <option value="PA" translate="X.PANAMA"></option>
              <option value="PG" translate="X.PAPUA_NEW_GUINEA"></option>
              <option value="PY" translate="X.PARAGUAY"></option>
              <option value="PE" translate="X.PERU"></option>
              <option value="PH" translate="X.PHILIPPINES"></option>
              <option value="PN" translate="X.PITCAIRN"></option>
              <option value="PL" translate="X.POLAND"></option>
              <option value="PT" translate="X.PORTUGAL"></option>
              <option value="PR" translate="X.PUERTO_RICO"></option>
              <option value="QA" translate="X.QATAR"></option>
              <option value="RE" translate="X.RUNION"></option>
              <option value="RO" translate="X.ROMANIA"></option>
              <option value="RU" translate="X.RUSSIAN_FEDERATION"></option>
              <option value="RW" translate="X.RWANDA"></option>
              <option value="BL" translate="X.SAINT_BARTHLEMY"></option>
              <option value="SH" translate="X.SAINT_HELENA_ASCENSION_AN"></option>
              <option value="KN" translate="X.SAINT_KITTS_AND_NEVIS"></option>
              <option value="LC" translate="X.SAINT_LUCIA"></option>
              <option value="MF">Saint Martin (French part)</option>
              <option value="PM" translate="X.SAINT_PIERRE_AND_MIQUELON"></option>
              <option value="VC" translate="X.SAINT_VINCENT_AND_THE_GRE"></option>
              <option value="WS" translate="X.SAMOA"></option>
              <option value="SM" translate="X.SAN_MARINO"></option>
              <option value="ST" translate="X.SAO_TOME_AND_PRINCIPE"></option>
              <option value="SA" translate="X.SAUDI_ARABIA"></option>
              <option value="SN" translate="X.SENEGAL"></option>
              <option value="RS" translate="X.SERBIA"></option>
              <option value="SC" translate="X.SEYCHELLES"></option>
              <option value="SL" translate="X.SIERRA_LEONE"></option>
              <option value="SG" translate="X.SINGAPORE"></option>
              <option value="SX">Sint Maarten (Dutch part)</option>
              <option value="SK" translate="X.SLOVAKIA"></option>
              <option value="SI" translate="X.SLOVENIA"></option>
              <option value="SB" translate="X.SOLOMON_ISLANDS"></option>
              <option value="SO" translate="X.SOMALIA"></option>
              <option value="ZA" translate="X.SOUTH_AFRICA"></option>
              <option value="GS" translate="X.SOUTH_GEORGIA_AND_THE_SOU"></option>
              <option value="KR" translate="X.SOUTH_KOREA"></option>
              <option value="SS" translate="X.SOUTH_SUDAN"></option>
              <option value="ES" translate="X.SPAIN"></option>
              <option value="LK" translate="X.SRI_LANKA"></option>
              <option value="SD" translate="X.SUDAN"></option>
              <option value="SR" translate="X.SURINAME"></option>
              <option value="SJ" translate="X.SVALBARD_AND_JAN_MAYEN"></option>
              <option value="SZ" translate="X.SWAZILAND"></option>
              <option value="SE" translate="X.SWEDEN"></option>
              <option value="CH" translate="X.SWITZERLAND"></option>
              <option value="SY" translate="X.SYRIAN_ARAB_REPUBLIC"></option>
              <option value="TW" translate="X.TAIWAN_PROVINCE_OF_CHINA"></option>
              <option value="TJ" translate="X.TAJIKISTAN"></option>
              <option value="TZ" translate="X.TANZANIA_UNITED_REPUBLIC_"></option>
              <option value="TH" translate="X.THAILAND"></option>
              <option value="TL" translate="X.TIMORLESTE"></option>
              <option value="TG" translate="X.TOGO"></option>
              <option value="TK" translate="X.TOKELAU"></option>
              <option value="TO" translate="X.TONGA"></option>
              <option value="TT" translate="X.TRINIDAD_AND_TOBAGO"></option>
              <option value="TN" translate="X.TUNISIA"></option>
              <option value="TR" translate="X.TURKEY"></option>
              <option value="TM" translate="X.TURKMENISTAN"></option>
              <option value="TC" translate="X.TURKS_AND_CAICOS_ISLANDS"></option>
              <option value="TV" translate="X.TUVALU"></option>
              <option value="UG" translate="X.UGANDA"></option>
              <option value="UA" translate="X.UKRAINE"></option>
              <option value="AE" translate="X.UNITED_ARAB_EMIRATES"></option>
              <option value="GB" translate="X.UNITED_KINGDOM"></option>
              <option value="US" translate="X.UNITED_STATES"></option>
              <option value="UY" translate="X.URUGUAY"></option>
              <option value="UZ" translate="X.UZBEKISTAN"></option>
              <option value="VU" translate="X.VANUATU"></option>
              <option value="VE" translate="X.VENEZUELA_BOLIVARIAN_REPU"></option>
              <option value="VN" translate="X.VIETNAM"></option>
              <option value="VI" translate="X.VIRGIN_ISLANDS"></option>
              <option value="WF" translate="X.WALLIS_AND_FUTUNA"></option>
              <option value="EH" translate="X.WESTERN_SAHARA"></option>
              <option value="YE" translate="X.YEMEN"></option>
              <option value="ZM" translate="X.ZAMBIA"></option>
              <option value="ZW" translate="X.ZIMBABWE"></option>
            </select>
            <!-- <div class="fv-plugins-message-container">
              <div class="fv-help-block" translate="X.COUNTRY_IS_REQUIRED"></div>
            </div> -->
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
             translate="X.LANGUAGE"></label
          >
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg"
              name="language"
            >
              <option value="" translate="X.SELECT_A_LANGUAGE"></option>
              <option value="id" translate="X.BAHASA_INDONESIA_INDONESI"></option>
              <option value="msa" translate="X.BAHASA_MELAYU_MALAY"></option>
              <option value="ca" translate="X.CATAL_CATALAN"></option>
              <option value="cs" translate="X.ETINA_CZECH"></option>
              <option value="da" translate="X.DANSK_DANISH"></option>
              <option value="de" translate="X.DEUTSCH_GERMAN"></option>
              <option value="en" translate="X.ENGLISH"></option>
              <option value="en-gb" translate="X.ENGLISH_UK_BRITISH_ENGLIS"></option>
              <option value="es" translate="X.ESPAOL_SPANISH"></option>
              <option value="fil" translate="X.FILIPINO"></option>
              <option value="fr" translate="X.FRANAIS_FRENCH"></option>
              <option value="ga">Gaeilge - Irish (beta)</option>
              <option value="gl">Galego - Galician (beta)</option>
              <option value="hr" translate="X.HRVATSKI_CROATIAN"></option>
              <option value="it" translate="X.ITALIANO_ITALIAN"></option>
              <option value="hu" translate="X.MAGYAR_HUNGARIAN"></option>
              <option value="nl" translate="X.NEDERLANDS_DUTCH"></option>
              <option value="no" translate="X.NORSK_NORWEGIAN"></option>
              <option value="pl" translate="X.POLSKI_POLISH"></option>
              <option value="pt" translate="X.PORTUGUS_PORTUGUESE"></option>
              <option value="ro" translate="X.ROMN_ROMANIAN"></option>
              <option value="sk" translate="X.SLOVENINA_SLOVAK"></option>
              <option value="fi" translate="X.SUOMI_FINNISH"></option>
              <option value="sv" translate="X.SVENSKA_SWEDISH"></option>
              <option value="vi" translate="X.TING_VIT_VIETNAMESE"></option>
              <option value="tr" translate="X.TRKE_TURKISH"></option>
              <option value="el" translate="X._GREEK"></option>
              <option value="bg" translate="X._BULGARIAN"></option>
              <option value="ru" translate="X._RUSSIAN"></option>
              <option value="sr" translate="X._SERBIAN"></option>
              <option value="uk" translate="X._UKRAINIAN"></option>
              <option value="he" translate="X._HEBREW"></option>
              <option value="ur">اردو - Urdu (beta)</option>
              <option value="ar" translate="X._ARABIC"></option>
              <option value="fa" translate="X._PERSIAN"></option>
              <option value="mr" translate="X._MARATHI"></option>
              <option value="hi" translate="X._HINDI"></option>
              <option value="bn" translate="X._BANGLA"></option>
              <option value="gu" translate="X._GUJARATI"></option>
              <option value="ta" translate="X._TAMIL"></option>
              <option value="kn" translate="X._KANNADA"></option>
              <option value="th" translate="X._THAI"></option>
              <option value="ko" translate="X._KOREAN"></option>
              <option value="ja" translate="X._JAPANESE"></option>
              <option value="zh-cn" translate="X._SIMPLIFIED_CHINESE"></option>
              <option value="zh-tw" translate="X._TRADITIONAL_CHINESE"></option>
            </select>
            <div class="form-text" translate="X.PLEASE_SELECT_A_PREFERRED"></div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
             translate="X.TIME_ZONE"></label
          >
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg"
              name="timeZone"
            >
              <option value="" translate="X.SELECT_A_TIMEZONE"></option>
              <option value="International Date Line West">
                (GMT-11:00) International Date Line West
              </option>
              <option value="Midway Island">(GMT-11:00) Midway Island</option>
              <option value="Samoa">(GMT-11:00) Samoa</option>
              <option value="Hawaii">(GMT-10:00) Hawaii</option>
              <option value="Alaska">(GMT-08:00) Alaska</option>
              <option value="Pacific Time (US &amp; Canada)">
                (GMT-07:00) Pacific Time (US &amp; Canada)
              </option>
              <option value="Tijuana">(GMT-07:00) Tijuana</option>
              <option value="Arizona">(GMT-07:00) Arizona</option>
              <option value="Mountain Time (US &amp; Canada)">
                (GMT-06:00) Mountain Time (US &amp; Canada)
              </option>
              <option value="Chihuahua">(GMT-06:00) Chihuahua</option>
              <option value="Mazatlan">(GMT-06:00) Mazatlan</option>
              <option value="Saskatchewan">(GMT-06:00) Saskatchewan</option>
              <option value="Central America">
                (GMT-06:00) Central America
              </option>
              <option value="Central Time (US &amp; Canada)">
                (GMT-05:00) Central Time (US &amp; Canada)
              </option>
              <option value="Guadalajara">(GMT-05:00) Guadalajara</option>
              <option value="Mexico City">(GMT-05:00) Mexico City</option>
              <option value="Monterrey">(GMT-05:00) Monterrey</option>
              <option value="Bogota">(GMT-05:00) Bogota</option>
              <option value="Lima">(GMT-05:00) Lima</option>
              <option value="Quito">(GMT-05:00) Quito</option>
              <option value="Eastern Time (US &amp; Canada)">
                (GMT-04:00) Eastern Time (US &amp; Canada)
              </option>
              <option value="Indiana (East)">(GMT-04:00) Indiana (East)</option>
              <option value="Caracas">(GMT-04:00) Caracas</option>
              <option value="La Paz">(GMT-04:00) La Paz</option>
              <option value="Georgetown">(GMT-04:00) Georgetown</option>
              <option value="Atlantic Time (Canada)">
                (GMT-03:00) Atlantic Time (Canada)
              </option>
              <option value="Santiago">(GMT-03:00) Santiago</option>
              <option value="Brasilia">(GMT-03:00) Brasilia</option>
              <option value="Buenos Aires">(GMT-03:00) Buenos Aires</option>
              <option value="Newfoundland">(GMT-02:30) Newfoundland</option>
              <option value="Greenland">(GMT-02:00) Greenland</option>
              <option value="Mid-Atlantic">(GMT-02:00) Mid-Atlantic</option>
              <option value="Cape Verde Is.">(GMT-01:00) Cape Verde Is.</option>
              <option value="Azores">(GMT) Azores</option>
              <option value="Monrovia">(GMT) Monrovia</option>
              <option value="UTC">(GMT) UTC</option>
              <option value="Dublin">(GMT+01:00) Dublin</option>
              <option value="Edinburgh">(GMT+01:00) Edinburgh</option>
              <option value="Lisbon">(GMT+01:00) Lisbon</option>
              <option value="London">(GMT+01:00) London</option>
              <option value="Casablanca">(GMT+01:00) Casablanca</option>
              <option value="West Central Africa">
                (GMT+01:00) West Central Africa
              </option>
              <option value="Belgrade">(GMT+02:00) Belgrade</option>
              <option value="Bratislava">(GMT+02:00) Bratislava</option>
              <option value="Budapest">(GMT+02:00) Budapest</option>
              <option value="Ljubljana">(GMT+02:00) Ljubljana</option>
              <option value="Prague">(GMT+02:00) Prague</option>
              <option value="Sarajevo">(GMT+02:00) Sarajevo</option>
              <option value="Skopje">(GMT+02:00) Skopje</option>
              <option value="Warsaw">(GMT+02:00) Warsaw</option>
              <option value="Zagreb">(GMT+02:00) Zagreb</option>
              <option value="Brussels">(GMT+02:00) Brussels</option>
              <option value="Copenhagen">(GMT+02:00) Copenhagen</option>
              <option value="Madrid">(GMT+02:00) Madrid</option>
              <option value="Paris">(GMT+02:00) Paris</option>
              <option value="Amsterdam">(GMT+02:00) Amsterdam</option>
              <option value="Berlin">(GMT+02:00) Berlin</option>
              <option value="Bern">(GMT+02:00) Bern</option>
              <option value="Rome">(GMT+02:00) Rome</option>
              <option value="Stockholm">(GMT+02:00) Stockholm</option>
              <option value="Vienna">(GMT+02:00) Vienna</option>
              <option value="Cairo">(GMT+02:00) Cairo</option>
              <option value="Harare">(GMT+02:00) Harare</option>
              <option value="Pretoria">(GMT+02:00) Pretoria</option>
              <option value="Bucharest">(GMT+03:00) Bucharest</option>
              <option value="Helsinki">(GMT+03:00) Helsinki</option>
              <option value="Kiev">(GMT+03:00) Kiev</option>
              <option value="Kyiv">(GMT+03:00) Kyiv</option>
              <option value="Riga">(GMT+03:00) Riga</option>
              <option value="Sofia">(GMT+03:00) Sofia</option>
              <option value="Tallinn">(GMT+03:00) Tallinn</option>
              <option value="Vilnius">(GMT+03:00) Vilnius</option>
              <option value="Athens">(GMT+03:00) Athens</option>
              <option value="Istanbul">(GMT+03:00) Istanbul</option>
              <option value="Minsk">(GMT+03:00) Minsk</option>
              <option value="Jerusalem">(GMT+03:00) Jerusalem</option>
              <option value="Moscow">(GMT+03:00) Moscow</option>
              <option value="St. Petersburg">(GMT+03:00) St. Petersburg</option>
              <option value="Volgograd">(GMT+03:00) Volgograd</option>
              <option value="Kuwait">(GMT+03:00) Kuwait</option>
              <option value="Riyadh">(GMT+03:00) Riyadh</option>
              <option value="Nairobi">(GMT+03:00) Nairobi</option>
              <option value="Baghdad">(GMT+03:00) Baghdad</option>
              <option value="Abu Dhabi">(GMT+04:00) Abu Dhabi</option>
              <option value="Muscat">(GMT+04:00) Muscat</option>
              <option value="Baku">(GMT+04:00) Baku</option>
              <option value="Tbilisi">(GMT+04:00) Tbilisi</option>
              <option value="Yerevan">(GMT+04:00) Yerevan</option>
              <option value="Tehran">(GMT+04:30) Tehran</option>
              <option value="Kabul">(GMT+04:30) Kabul</option>
              <option value="Ekaterinburg">(GMT+05:00) Ekaterinburg</option>
              <option value="Islamabad">(GMT+05:00) Islamabad</option>
              <option value="Karachi">(GMT+05:00) Karachi</option>
              <option value="Tashkent">(GMT+05:00) Tashkent</option>
              <option value="Chennai">(GMT+05:30) Chennai</option>
              <option value="Kolkata">(GMT+05:30) Kolkata</option>
              <option value="Mumbai">(GMT+05:30) Mumbai</option>
              <option value="New Delhi">(GMT+05:30) New Delhi</option>
              <option value="Sri Jayawardenepura">
                (GMT+05:30) Sri Jayawardenepura
              </option>
              <option value="Kathmandu">(GMT+05:45) Kathmandu</option>
              <option value="Astana">(GMT+06:00) Astana</option>
              <option value="Dhaka">(GMT+06:00) Dhaka</option>
              <option value="Almaty">(GMT+06:00) Almaty</option>
              <option value="Urumqi">(GMT+06:00) Urumqi</option>
              <option value="Rangoon">(GMT+06:30) Rangoon</option>
              <option value="Novosibirsk">(GMT+07:00) Novosibirsk</option>
              <option value="Bangkok">(GMT+07:00) Bangkok</option>
              <option value="Hanoi">(GMT+07:00) Hanoi</option>
              <option value="Jakarta">(GMT+07:00) Jakarta</option>
              <option value="Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
              <option value="Beijing">(GMT+08:00) Beijing</option>
              <option value="Chongqing">(GMT+08:00) Chongqing</option>
              <option value="Hong Kong">(GMT+08:00) Hong Kong</option>
              <option value="Kuala Lumpur">(GMT+08:00) Kuala Lumpur</option>
              <option value="Singapore">(GMT+08:00) Singapore</option>
              <option value="Taipei">(GMT+08:00) Taipei</option>
              <option value="Perth">(GMT+08:00) Perth</option>
              <option value="Irkutsk">(GMT+08:00) Irkutsk</option>
              <option value="Ulaan Bataar">(GMT+08:00) Ulaan Bataar</option>
              <option value="Seoul">(GMT+09:00) Seoul</option>
              <option value="Osaka">(GMT+09:00) Osaka</option>
              <option value="Sapporo">(GMT+09:00) Sapporo</option>
              <option value="Tokyo">(GMT+09:00) Tokyo</option>
              <option value="Yakutsk">(GMT+09:00) Yakutsk</option>
              <option value="Darwin">(GMT+09:30) Darwin</option>
              <option value="Adelaide">(GMT+09:30) Adelaide</option>
              <option value="Canberra">(GMT+10:00) Canberra</option>
              <option value="Melbourne">(GMT+10:00) Melbourne</option>
              <option value="Sydney">(GMT+10:00) Sydney</option>
              <option value="Brisbane">(GMT+10:00) Brisbane</option>
              <option value="Hobart">(GMT+10:00) Hobart</option>
              <option value="Vladivostok">(GMT+10:00) Vladivostok</option>
              <option value="Guam">(GMT+10:00) Guam</option>
              <option value="Port Moresby">(GMT+10:00) Port Moresby</option>
              <option value="Solomon Is.">(GMT+10:00) Solomon Is.</option>
              <option value="Magadan">(GMT+11:00) Magadan</option>
              <option value="New Caledonia">(GMT+11:00) New Caledonia</option>
              <option value="Fiji">(GMT+12:00) Fiji</option>
              <option value="Kamchatka">(GMT+12:00) Kamchatka</option>
              <option value="Marshall Is.">(GMT+12:00) Marshall Is.</option>
              <option value="Auckland">(GMT+12:00) Auckland</option>
              <option value="Wellington">(GMT+12:00) Wellington</option>
              <option value="Nuku'alofa">(GMT+13:00) Nuku'alofa</option>
            </select>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
             translate="X.CURRENCY"></label
          >
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg"
              name="currency"
            >
              <option value="" translate="X.SELECT_A_CURRENCY"></option>
              <option value="USD" translate="X.USD_USA_DOLLAR"></option>
              <option value="GBP" translate="X.GBP_BRITISH_POUND"></option>
              <option value="AUD" translate="X.AUD_AUSTRALIAN_DOLLAR"></option>
              <option value="JPY" translate="X.JPY_JAPANESE_YEN"></option>
              <option value="SEK" translate="X.SEK_SWEDISH_KRONA"></option>
              <option value="CAD" translate="X.CAD_CANADIAN_DOLLAR"></option>
              <option value="CHF" translate="X.CHF_SWISS_FRANC"></option>
            </select>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
             translate="X.COMMUNICATION"></label
          >
          <div class="col-lg-8 fv-row">
            <div class="d-flex align-items-center mt-3">
              <label class="form-check form-check-inline form-check-solid me-5"
                ><input
                  class="form-check-input"
                  name="communication[]"
                  type="checkbox"
                /><span class="fw-bold ps-2 fs-6" translate="X.EMAIL"></span></label
              ><label class="form-check form-check-inline form-check-solid"
                ><input
                  class="form-check-input"
                  name="communication[]"
                  type="checkbox"
                /><span class="fw-bold ps-2 fs-6" translate="X.PHONE"></span></label
              >
            </div>
          </div>
        </div>
        <div class="row mb-0">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
             translate="X.ALLOW_MARKETING"></label
          >
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="isLoading"
          (click)="saveSettings()"
        >
          <ng-container *ngIf="!isLoading" translate="X.SAVE_CHANGES"></ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
