<div class="pb-10 pb-lg-12">
  <h2 class="fw-bolder text-dark" translate="X.BUSINESS_DETAILS"></h2>
  <div class="text-gray-400 fw-bold fs-6">
    If you need more info, please check out
    <a href="#" class="link-primary fw-bolder" translate="X.HELP_PAGE"></a>.
  </div>
</div>
<div [formGroup]="form">
  <div class="fv-row mb-10">
    <label class="form-label required" translate="X.BUSINESS_NAME"></label
    ><input
      name="businessName"
      class="form-control form-control-lg form-control-solid"
      formControlName="businessName"
    />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('businessName')?.hasError('required') &&
        form.get('businessName')?.touched
      "
     translate="X.BUSINESS_NAME_IS_REQUIRED"></div>
  </div>
  <div class="fv-row mb-10">
    <label class="d-flex align-items-center form-label"
      ><span class="required" translate="X.SHORTENED_DESCRIPTOR"></span></label
    ><input
      name="businessDescriptor"
      class="form-control form-control-lg form-control-solid"
      formControlName="businessDescriptor"
    />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('businessDescriptor')?.hasError('required') &&
        form.get('businessDescriptor')?.touched
      "
     translate="X.SHORTENED_DESCRIPTOR_IS_R"></div>
    <div class="form-text" translate="X.CUSTOMERS_WILL_SEE_THIS_S"></div>
  </div>
  <div class="fv-row mb-10">
    <label class="form-label required" translate="X.CORPORATION_TYPE"></label
    ><select
      name="businessType"
      class="form-select form-select-lg form-select-solid"
      formControlName="businessType"
    >
      <option value="1" translate="X.S_CORPORATION"></option>
      <option value="1" translate="X.C_CORPORATION"></option>
      <option value="2" translate="X.SOLE_PROPRIETORSHIP"></option>
      <option value="3" translate="X.NONPROFIT"></option>
      <option value="4" translate="X.LIMITED_LIABILITY"></option>
      <option value="5" translate="X.GENERAL_PARTNERSHIP"></option>
    </select>
  </div>
  <div class="fv-row mb-10">
    <label class="form-label" translate="X.BUSINESS_DESCRIPTION"></label
    ><textarea
      name="businessDescription"
      class="form-control form-control-lg form-control-solid"
      rows="3"
      formControlName="businessDescription"
    ></textarea>
  </div>
  <div class="fv-row mb-0">
    <label class="fs-6 fw-bold form-label required" translate="X.CONTACT_EMAIL"></label
    ><input
      name="businessEmail"
      class="form-control form-control-lg form-control-solid"
      formControlName="businessEmail"
    />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('businessEmail')?.hasError('required') &&
        form.get('businessEmail')?.touched
      "
     translate="X.CONTACT_EMAIL_IS_REQUIRED"></div>
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('businessEmail')?.hasError('email') &&
        form.get('businessEmail')?.touched
      "
     translate="X.WRONG_EMAIL_FORMAT"></div>
  </div>
</div>
