<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_email_preferences"
    aria-expanded="true"
    aria-controls="kt_account_email_preferences"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0" translate="X.EMAIL_PREFERENCES"></h3>
    </div>
  </div>
  <div id="kt_account_email_preferences" class="collapse show">
    <form class="form">
      <div class="card-body border-top px-9 py-9">
        <label
          class="
            form-check form-check-custom form-check-solid
            align-items-start
          "
          ><input
            class="form-check-input me-3"
            type="checkbox"
            name="email-preferences[]"
          /><span class="form-check-label d-flex flex-column align-items-start"
            ><span class="fw-bolder fs-5 mb-0" translate="X.SUCCESSFUL_PAYMENTS"></span
            ><span class="text-muted fs-6"
               translate="X.RECEIVE_A_NOTIFICATION_FO"></span
            ></span
          ></label
        >
        <div class="separator separator-dashed my-6"></div>
        <label
          class="
            form-check form-check-custom form-check-solid
            align-items-start
          "
          ><input
            class="form-check-input me-3"
            type="checkbox"
            name="email-preferences[]"
            checked=""
          /><span class="form-check-label d-flex flex-column align-items-start"
            ><span class="fw-bolder fs-5 mb-0" translate="X.PAYOUTS"></span
            ><span class="text-muted fs-6"
               translate="X.RECEIVE_A_NOTIFICATION_FO"></span
            ></span
          ></label
        >
        <div class="separator separator-dashed my-6"></div>
        <label
          class="
            form-check form-check-custom form-check-solid
            align-items-start
          "
          ><input
            class="form-check-input me-3"
            type="checkbox"
            name="email-preferences[]"
          /><span class="form-check-label d-flex flex-column align-items-start"
            ><span class="fw-bolder fs-5 mb-0" translate="X.FEE_COLLECTION"></span
            ><span class="text-muted fs-6"
               translate="X.RECEIVE_A_NOTIFICATION_EA"></span
            ></span
          ></label
        >
        <div class="separator separator-dashed my-6"></div>
        <label
          class="
            form-check form-check-custom form-check-solid
            align-items-start
          "
          ><input
            class="form-check-input me-3"
            type="checkbox"
            name="email-preferences[]"
            checked=""
          /><span class="form-check-label d-flex flex-column align-items-start"
            ><span class="fw-bolder fs-5 mb-0" translate="X.CUSTOMER_PAYMENT_DISPUTE"></span
            ><span class="text-muted fs-6"
               translate="X.RECEIVE_A_NOTIFICATION_IF"></span
            ></span
          ></label
        >
        <div class="separator separator-dashed my-6"></div>
        <label
          class="
            form-check form-check-custom form-check-solid
            align-items-start
          "
          ><input
            class="form-check-input me-3"
            type="checkbox"
            name="email-preferences[]"
          /><span class="form-check-label d-flex flex-column align-items-start"
            ><span class="fw-bolder fs-5 mb-0" translate="X.REFUND_ALERTS"></span
            ><span class="text-muted fs-6"
               translate="X.RECEIVE_A_NOTIFICATION_IF"></span
            ></span
          ></label
        >
        <div class="separator separator-dashed my-6"></div>
        <label
          class="
            form-check form-check-custom form-check-solid
            align-items-start
          "
          ><input
            class="form-check-input me-3"
            type="checkbox"
            name="email-preferences[]"
            checked=""
          /><span class="form-check-label d-flex flex-column align-items-start"
            ><span class="fw-bolder fs-5 mb-0" translate="X.INVOICE_PAYMENTS"></span
            ><span class="text-muted fs-6"
               translate="X.RECEIVE_A_NOTIFICATION_IF"></span
            ></span
          ></label
        >
        <div class="separator separator-dashed my-6"></div>
        <label
          class="
            form-check form-check-custom form-check-solid
            align-items-start
          "
          ><input
            class="form-check-input me-3"
            type="checkbox"
            name="email-preferences[]"
          /><span class="form-check-label d-flex flex-column align-items-start"
            ><span class="fw-bolder fs-5 mb-0" translate="X.WEBHOOK_API_ENDPOINTS"></span
            ><span class="text-muted fs-6"
               translate="X.RECEIVE_NOTIFICATIONS_FOR"></span
            ></span
          ></label
        >
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button class="btn btn-light btn-active-light-primary me-2" translate="X.DISCARD"></button>
        <button type="button" class="btn btn-primary" (click)="saveSettings()">
          <ng-container *ngIf="!isLoading" translate="X.SAVE_CHANGES"></ng-container>
          <ng-container *ngIf="isLoading">
            <span class="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
