<!-- begin::Header -->
<div class="card-header border-0">
  <h3 class="card-title fw-bolder text-dark" translate="X.NOTIFICATIONS"></h3>
  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <app-keenicon name="category" class="fs-2"></app-keenicon>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body pt-0">
  <!-- begin::Item -->
  <div class="d-flex align-items-center bg-light-warning rounded p-5 mb-7">
    <!-- begin::Icon -->
    <span class="svg-icon text-warning me-5">
      <app-keenicon name="abstract-26" class="fs-1"></app-keenicon>
    </span>
    <!-- end::Icon -->
    <!-- begin::Title -->
    <div class="flex-grow-1 me-2">
      <a href="#" class="fw-bolder text-gray-800 text-hover-primary fs-6" translate="X.GROUP_LUNCH_CELEBRATION"></a>
      <span class="text-muted fw-bold d-block" translate="X.DUE_IN_2_DAYS"></span>
    </div>
    <!-- end::Title -->
    <!-- begin::Lable -->
    <span class="fw-bolder text-warning py-1">+28%</span>
    <!-- end::Lable -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center bg-light-success rounded p-5 mb-7">
    <!-- begin::Icon -->
    <span class="svg-icon text-success me-5">
      <app-keenicon name="abstract-26" class="fs-1"></app-keenicon>
    </span>
    <!-- end::Icon -->
    <!-- begin::Title -->
    <div class="flex-grow-1 me-2">
      <a href="#" class="fw-bolder text-gray-800 text-hover-primary fs-6" translate="X.NAVIGATION_OPTIMIZATION"></a>
      <span class="text-muted fw-bold d-block" translate="X.DUE_IN_2_DAYS"></span>
    </div>
    <!-- end::Title -->
    <!-- begin::Lable -->
    <span class="fw-bolder text-success py-1">+50%</span>
    <!-- end::Lable -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center bg-light-danger rounded p-5 mb-7">
    <!-- begin::Icon -->
    <span class="svg-icon text-danger me-5">
      <app-keenicon name="abstract-26" class="fs-1"></app-keenicon>
    </span>
    <!-- end::Icon -->
    <!-- begin::Title -->
    <div class="flex-grow-1 me-2">
      <a href="#" class="fw-bolder text-gray-800 text-hover-primary fs-6" translate="X.REBRAND_STRATEGY_PLANNING"></a>
      <span class="text-muted fw-bold d-block" translate="X.DUE_IN_5_DAYS"></span>
    </div>
    <!-- end::Title -->
    <!-- begin::Lable -->
    <span class="fw-bolder text-danger py-1" translate="X._27"></span>
    <!-- end::Lable -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center bg-light-info rounded p-5">
    <!-- begin::Icon -->
    <span class="svg-icon text-info me-5">
      <app-keenicon name="abstract-26" class="fs-1"></app-keenicon>
    </span>
    <!-- end::Icon -->
    <!-- begin::Title -->
    <div class="flex-grow-1 me-2">
      <a href="#" class="fw-bolder text-gray-800 text-hover-primary fs-6" translate="X.PRODUCT_GOALS_STRATEGY"></a>
      <span class="text-muted fw-bold d-block" translate="X.DUE_IN_7_DAYS"></span>
    </div>
    <!-- end::Title -->
    <!-- begin::Lable -->
    <span class="fw-bolder text-info py-1">+8%</span>
    <!-- end::Lable -->
  </div>
  <!-- end::Item -->
</div>
<!-- end::Body -->
