<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1" translate="X.LATEST_ARRIVALS"></span>
    <span class="text-muted mt-1 fw-bold fs-7" translate="X.MORE_THAN_100_NEW_PRODUCT"></span>
  </h3>
  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <app-keenicon name="category" class="fs-2"></app-keenicon>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-5">
      <!-- begin::Table head -->
      <thead>
        <tr>
          <th class="p-0 w-50px"></th>
          <th class="p-0 min-w-150px"></th>
          <th class="p-0 min-w-150px"></th>
          <th class="p-0 min-w-125px"></th>
          <th class="p-0 min-w-40px"></th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label">
                <img
                  src="./assets/media/svg/brand-logos/plurk.svg"
                  class="h-50 align-self-center"
                  alt=""
                />
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.TOP_AUTHORS"></a>
            <span class="text-muted fw-bold d-block fs-7"
               translate="X.SUCCESSFUL_FELLAS"></span
            >
          </td>
          <td class="text-end">
            <span class="badge badge-light-danger fw-bold me-1" translate="X.ANGULAR"></span>
            <span class="badge badge-light-info fw-bold me-1" translate="X.PHP"></span>
          </td>
          <td class="text-end">
            <span class="text-muted fw-bold" translate="X._4600_USERS"></span>
          </td>
          <td class="text-end">
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
            >
              <app-keenicon name="arrow-right" class="fs-2"></app-keenicon>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label">
                <img
                  src="./assets/media/svg/brand-logos/telegram.svg"
                  class="h-50 align-self-center"
                  alt=""
                />
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.POPULAR_AUTHORS"></a>
            <span class="text-muted fw-bold d-block fs-7" translate="X.MOST_SUCCESSFUL"></span>
          </td>
          <td class="text-end">
            <span class="badge badge-light-danger fw-bold me-1" translate="X.HTML"></span>
            <span class="badge badge-light-info fw-bold me-1" translate="X.CSS"></span>
          </td>
          <td class="text-end">
            <span class="text-muted fw-bold" translate="X._7200_USERS"></span>
          </td>
          <td class="text-end">
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
            >
              <app-keenicon name="arrow-right" class="fs-2"></app-keenicon>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label">
                <img
                  src="./assets/media/svg/brand-logos/vimeo.svg"
                  class="h-50 align-self-center"
                  alt=""
                />
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.NEW_USERS"></a>
            <span class="text-muted fw-bold d-block fs-7" translate="X.AWESOME_USERS"></span>
          </td>
          <td class="text-end">
            <span class="badge badge-light-danger fw-bold me-1" translate="X.REACT"></span>
            <span class="badge badge-light-info fw-bold me-1" translate="X.SASS"></span>
          </td>
          <td class="text-end">
            <span class="text-muted fw-bold" translate="X._890_USERS"></span>
          </td>
          <td class="text-end">
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
            >
              <app-keenicon name="arrow-right" class="fs-2"></app-keenicon>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label">
                <img
                  src="./assets/media/svg/brand-logos/bebo.svg"
                  class="h-50 align-self-center"
                  alt=""
                />
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.ACTIVE_CUSTOMERS"></a>
            <span class="text-muted fw-bold d-block fs-7" translate="X.BEST_CUSTOMERS"></span>
          </td>
          <td class="text-end">
            <span class="badge badge-light-danger fw-bold me-1" translate="X.JAVA"></span>
            <span class="badge badge-light-info fw-bold me-1" translate="X.PHP"></span>
          </td>
          <td class="text-end">
            <span class="text-muted fw-bold" translate="X._6370_USERS"></span>
          </td>
          <td class="text-end">
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
            >
              <app-keenicon name="arrow-right" class="fs-2"></app-keenicon>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="symbol symbol-50px me-2">
              <span class="symbol-label">
                <img
                  src="./assets/media/svg/brand-logos/kickstarter.svg"
                  class="h-50 align-self-center"
                  alt=""
                />
              </span>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
             translate="X.BESTSELLER_THEME"></a>
            <span class="text-muted fw-bold d-block fs-7"
               translate="X.AMAZING_TEMPLATES"></span
            >
          </td>
          <td class="text-end">
            <span class="badge badge-light-danger fw-bold me-1" translate="X.PYTHON"></span>
            <span class="badge badge-light-info fw-bold me-1" translate="X.MYSQL"></span>
          </td>
          <td class="text-end">
            <span class="text-muted fw-bold" translate="X._354_USERS"></span>
          </td>
          <td class="text-end">
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
            >
              <app-keenicon name="arrow-right" class="fs-2"></app-keenicon>
            </a>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- end::Body -->
